* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family:'Poppins', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

header {
  position: relative;
  background-image: url(images/bg-header.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 214px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 237, 237, 0.5);
}

.main__heading {
  position: relative;
  z-index: 1;
  color: #213358;
  font-size: 28px;
  line-height: 120%;
  text-transform: uppercase;
  padding-top: 43px;
  padding-left: 27px;
}

.wrapper {
  position: relative;
}

.bg__container {
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #DDDDDD;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 27px;
  padding-right: 27px;
}

.container {
  padding-top: 15px;
}

.sub__heading {
  font-size: 20px;
  font-weight: 500;
  color: #213358;
  line-height: 120%;
}

.sub__text {
  font-size: 14px;
  color: #1B2B6D;
  padding-top: 5px;
}

.grid__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  margin-top: 21px;
}

.brand__logo {
  font-family: 'Plaster', sans-serif;
  font-size: 50px;
}

.card__container {
  background-color: #eeee;
  padding-top: 10px;
  padding-bottom: 25px;
  border-radius: 20px;
}

.brand__name {
  font-size: 18px;
  font-weight: 600;
  color: #213358;
  padding-bottom: 25px;
  text-align: center;
}

.view__btn {
  color: #fff;
  font-size: 14px;
  background-color: #213358;
  padding: 8px 37px;
  border-radius: 20px;
}